# Server port
PORT=3002

# Your roll number
ROLL_NO=your_roll_number

# Registration details (used to fetch auth token)
REG_NAME=your_registered_name
REG_EMAIL=your_registered_email
ACCESS_CODE=TRvZWq

# Credentials from registration API
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
